@model IEnumerable<BeyazEsya.Models.Sogutucu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kategorı.KategorıAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Renk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boyutlar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SogutucuTıp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hacım)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kategorı.KategorıAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Renk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Boyutlar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SogutucuTıp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hacım)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
